.footerElement {
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: white;
  border-top: 1px solid #EEE;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footerElement p {
  font-weight: 500;
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.footerElementLight {
  font-weight: 400;
}